name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.1
      with:
        node-version: v12.16.3
    
    - name: install dependencies
      run: cd backend && npm install
      
    - name: run tests
      run: cd backend && npm run test
